streamlit==1.32.0
torch==2.1.0
torchvision==0.16.0
ultralytics==8.1.0
opencv-python-headless==4.8.1.78
numpy==1.26.4
chromadb==0.4.22
timm==0.9.12
groq
requests
gdown
scikit-learn
Pillow
git+https://github.com/openai/CLIP.git
